.parameter {
  padding: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.parameterText {
  padding-right: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #f1f2f2;
}

.button {
  display: flex;
  justify-items: center;
  justify-content: center;
  width: 20%;
  margin-left: 40%;
  margin-bottom: 20px;
  border-color: white;
  border-width: 1px;
  border-radius: 7px;
  background-color: transparent;
}

.buttonText {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 10px;
  font-size: 20px;
  color: #f1f2f2;
}

.buttonText:hover {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 10px;
  font-size: 20px;
  color: #a0a0a0;
}

.div {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}

body {
  background: #3f3a36;
}
